#loader-wrapper .loader-section ,#loader-wrapper-app .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left,#loader-wrapper-app .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right,#loader-wrapper-app .loader-section.section-right {
  right: 0;
}
