<!doctype html>
<html>
<head>
  <title>Pikaboshop Register</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Minimalist starter - Angular 2</title>
  <base href="<%= APP_ROOT %>">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- lib:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <link rel="stylesheet" href="/assets/css/app.css">
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>
<body>

<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<app>
  <div id="loader-wrapper-app">
    <div id="loader-app"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>
</app>

<!-- lib:js -->
<!-- endinject -->
<script>
  window.IS_PROD = '<%= IS_PROD %>';
  System.import('assets/javascript/app.bundle.js').then(function () {
    return System.import('userboot');
  }).catch(console.error.bind(console));

</script>
</body>
</html>
