<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" required [(ngModel)]="model.email">
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" required [(ngModel)]="model.fname">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" required [(ngModel)]="model.lname">
      </div>
      <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" required [(ngModel)]="model.country">
      </div>
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" required [(ngModel)]="model.city">
      </div>
      <div class="form-group">
        <label>birthdate</label>
        <input type="text" class="form-control" required [(ngModel)]="model.birthdate">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" required [(ngModel)]="model.password">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" required [(ngModel)]="model.password_conf">
      </div>

      <button type="button" (click)="onSubmit()" class="btn btn-warning btn-lg">Signup</button>
    </form>
    <div *ngIf="errors.length != 0" class="panel panel-warning">
      <div class="panel-heading">Error in filling of the fields</div>
      <div class="panel-body">
        <ul class="list-group">
          <li *ngFor="let error of errors" class="list-group-item">{{error.message}}</li>
        </ul>
      </div>
    </div>
    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </div>
  {{diagnostic}}
  {{diagnosticError}}
</div>
