<ng2-slim-loading-bar></ng2-slim-loading-bar>
<section id="main_container" class="container-fluid">

  <router-outlet></router-outlet>

  <div class="footer">
    <div class="container-fluid">
      <div class="progress">
        <div *ngIf="loading" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          <span class="sr-only">
            Loading ...
          </span>
          <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
